Makefile
config.h
config.sub
config.guess
GNOME_MusicusApplet.server
gobjectify-patches
src/*.o
src/musicus-mpc
src/musicus_applet
src/cli
src/media_browser
cscope.out
src/Makefile.applet
src/Makefile
debian/musicus
debian/cron.d.ex
debian/emacsen-*
debian/files
debian/init.d.*
debian/*.log
debian/musicus.default.ex
debian/README.Debian
*.swp
*~
